<div class="card birth-record" data-id="<%= record.to_param %>">
  <div class="card-header">
    <h4 class="card-title">BIRTH RECORD</h4>
  </div>
  <div class="card-body">
    <h5>
      <strong><%= record.family_name %></strong>,
      <%= record.first_and_middle_names %>
      <div class="text-muted">
        <%= record.place_of_birth %> <%= record.date_of_birth %>
      </div>
    </h5>
    <% if full %>
      <p>
      <strong>Sex</strong>
      <%=record.sex %>.
        <strong>Parent 1</strong>
        <%=record.parent_family_name %>,
        <%=record.parent_first_and_middle_names %>.

        <strong>Parent 2</strong>
        <%=record.other_parent_family_name %>,
        <%=record.other_parent_first_and_middle_names %>.
      </p>
      <% if @birth_record.shares.size.positive? %>
        <h4>Shared with</h4>
        <ul class="list-group list-group-flush">
          <%- @birth_record.shares.each do |share| %>
            <li class="list-group-item d-flex justify-content-between ">
                <%= share.recipient.email %>
                <span class="share-buttons">
                  <%= link_to 'revoke', user_share_path(share),
                    method: :delete, class: 'btn text-danger',
                    data: { confirm: 'Are you sure?' }%>
                </span>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to 'share', new_user_share_path(share: { birth_record_id: record.to_param }), class: 'btn' %>
    <%= link_to 'remove', remove_user_birth_record_path(record), class: 'btn btn-danger', data: { confirm: 'Are you sure? This will the record from your documents'}, method: :post %>
  </div>
</div>
