<h1>Find a birth record</h1>

<%= bootstrap_form_with(url: find_user_birth_records_path,  model: @birth_record, action: :query, local: true) do |f| %>
  <h3>Required fields</h3>
  <%= f.text_field :first_and_middle_names, required: true%>
  <%= f.text_field :family_name, required: true %>
  <%= f.text_field :date_of_birth, required: true %>
  <hr />
  <h3>Optional fields</h3>
  <%= f.text_field :place_of_birth %>
  <%= f.text_field :parent_first_and_middle_names %>
  <%= f.text_field :parent_family_name %>
  <%= f.text_field :other_parent_first_and_middle_names %>
  <%= f.text_field :other_parent_family_name %>

  <div class="d-flex">
    <%= f.submit 'Find', class: 'btn btn-lg btn-primary ml-auto' %>
  </div>
<% end %>

<% if @results.any? %>
  <div class='container'>
    Results:
    <% @results&.each do |record| %>
      <%= link_to 'add', add_user_birth_record_path(record), class: 'pill pill-secondary', method: :post %>
      <%= render partial: 'shared/birth_records/card', object: record %>
    <% end %>
  </div>
<% end %>
