<section>
  <h2>Your documents dashboard</h2>
  <p>This is where your documents are stored. Documents shown here can be for yourself, your whānau, or others. <strong>These are not proof of identity</strong> but are a legal representation of the data of your ID which is held within the New Zealand government.</p>
  <%= render 'modal_form' %>
  <% if @birth_records.any? %>
    <div class="index-cards">
      <% @birth_records.each do |record| %>
        <div class="card card--with-fancy-footer birth-record" data-id="<%= record.to_param %>">
            <div class="card-body">
              <h5 class="card-title">Birth record</h5>
              <p>
                <%= record.family_name %>,
                <%= record.first_and_middle_names %>
              </p>
            </div>
          <div class="card-footer">
            <div class="card-footer__inner d-flex justify-content-around">
              <%= link_to 'View', user_birth_record_path(record), class: 'btn btn-secondary' %>
              <%= link_to 'Share', new_user_share_path(share: { birth_record_id: record.to_param }), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted font-italic">There are currently no birth records for <%= current_user.email %>.</p>
  <% end %>
</section>
