<h1>Find a birth record</h1>

<%= render 'modal_form' %>

<% if @results.any? %>
  <div class='container'>
    <h2>Results</h2>
    <% @results&.each do |record| %>
      <div class="card card--with-fancy-footer birth-record" data-id="<%= record.to_param %>">
        <div class="card-body">
          <h4 class="card-title">
            <%= record.family_name %>, <%= record.first_and_middle_names %>
          </h4>
          <%= render partial: 'shared/birth_records/additional_details', object: record %>
        </div>
        <div class="card-footer">
          <div class="card-footer__inner">
            <%= link_to 'Add', add_user_birth_record_path(record), class: 'btn btn-primary', 'data-verb' => 'add', method: :post %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  Nothing found - try adding more details
<% end %>
