<h1>Find a birth record</h1>

<%= render 'modal_form' %>

<% if @results.any? %>
  <div class='container'>
    <h2>Results</h2>
    <% @results&.each do |record| %>
      <div class="card birth-record" data-id="<%= record.to_param %>">
        <div class="card-header">
          <%= link_to 'add', add_user_birth_record_path(record), class: 'btn birth-record__button', 'data-verb' => 'add', method: :post %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to user_birth_record_path(record) do %>
              <%= record.first_and_middle_names %> <%= record.family_name %>
            <% end %>
          </h5>
          <%= render partial: 'shared/birth_records/additional_details', object: record %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  Nothing found - try adding more details
<% end %>
