<div class="mb-4">
  <%= link_to "â† Back", user_birth_records_path(@user), class: 'text-dark' %>
</div>
<div class="card mb-4 p-4 birth-record" data-id="<%= @birth_record.to_param %>">
  <div class="card-body">
    <div class="d-flex justify-content-between mb-4">
      <h1 class="card-title">Birth Record</h1>
      <div>
        <%= link_to 'Remove', remove_user_birth_record_path(@birth_record), class: 'btn btn-danger', data: { confirm: 'Are you sure? This will remove the record from your documents'}, method: :post %>
      </div>
    </div>
    <h5>
      <strong><%= @birth_record.family_name %></strong>,
      <%= @birth_record.first_and_middle_names %>
    </h5>
    <dl>
      <dt>Date of birth</dt>
      <dd><%= @birth_record.date_of_birth %></dd>
      <dt>Place of birth</dt>
      <dd><%= @birth_record.place_of_birth %></dd>
      <dt>Sex</dt>
      <dd><%=@birth_record.sex %></dd>
      <dt>Parent 1</dt>
      <dd><%=@birth_record.parent_family_name %>, <%=@birth_record.parent_first_and_middle_names %></dd>
      <dt>Parent 2</dt>
      <dd><%=@birth_record.other_parent_family_name %>, <%=@birth_record.other_parent_first_and_middle_names %></dd>
    </dl>
  </div>
  <div class="row justify-content-center mb-4 mt-4">
    <div class="col-sm-6">
      <%= link_to 'Share', new_user_share_path(share: { birth_record_id: @birth_record.to_param }), class: 'btn btn-primary btn-block' %>
    </div>
  </div>
</div>
<% if @shares.size.positive? %>
  <h4>Shared with</h4>
  <ul class="list-group list-group-flush">
    <%- @shares.each do |share| %>
      <li class="list-group-item d-flex justify-content-between ">
          <%= share.recipient.name %>
          <span class="share-buttons">
            <%= link_to 'Revoke', revoke_user_share_path(share),
              method: :post, class: 'btn btn-danger',
              data: { confirm: 'Are you sure?' }%>
          </span>
      </li>
    <% end %>
  </ul>
<% end %>
