<%= render partial: 'shared/back', locals: { path: user_dashboard_index_path } %>

<div class="card mb-4 birth-record" data-id="<%= @document.to_param %>">
  <div class="card-body">
    <div class="d-flex flex-wrap justify-content-between mb-4">
      <h1 class="card-title"><%= t("documents.types.#{@document.document_type}") %></h1>
      <div>
        <%= link_to 'Remove', user_document_remove_path(@document.document_type, @document.id), class: 'btn btn-danger', data: { confirm: 'Are you sure? This will remove the record from your documents'}, method: :post %>
      </div>
    </div>
      <h4><%= @document.heading %></h4>
    <%= render partial: @document %>
  </div>
  <div class="card-footer">    
    <div class="row justify-content-center mb-4 mt-4">
      <div>
        <%= render 'user/shares/modal_form', document: @document, classes: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<% if @shares.size.positive? %>
  <h2>Shared with</h2>
  <ul class="list-group list-group-flush">
    <%- @shares.each do |share| %>
      <li class="list-group-item">
        <div class=" d-flex flex-wrap justify-content-between ">
          <strong><%= share.recipient.name %></strong>
          <span class="share-buttons">
            <%= link_to 'Revoke', revoke_user_share_path(share),
            method: :post, class: 'btn btn-danger',
            data: { confirm: 'Are you sure?' }%>
          </span>
        </div>
        <ul class="list-unstyled">
          <% share.audits.each do |audit| %>
            <li>Viewed on <%= audit.created_at.in_time_zone('Pacific/Auckland').to_s(:short) %> by <%= audit.user.email %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
