<div class="mb-4">
  <%= link_to "â† Back", authenticated_user_root_path, class: 'text-dark' %>
</div>
<div class="card mb-4 p-4 birth-record" data-id="<%= @document.to_param %>">
  <div class="card-body">
    <div class="d-flex justify-content-between mb-4">
      <h1 class="card-title"><%= t("documents.types.#{@document.document_type}") %></h1>
      <div>
      </div>
    </div>
    <h5>
      <strong><%= @document.heading %></strong>
    </h5>
    <dl>
    </dl>
  </div>
  <div class="row justify-content-center mb-4 mt-4">
    <div class="col-sm-6">
      <%= render 'user/shares/modal_form', record: @document, classes: 'btn btn-primary btn-block' %>
    </div>
  </div>
</div>
<% if @shares.size.positive? %>
  <h4>Shared with</h4>
  <ul class="list-group list-group-flush">
    <%- @shares.each do |share| %>
      <li class="list-group-item">
        <div class=" d-flex justify-content-between ">
          <strong><%= share.recipient.name %></strong>
          <span class="share-buttons">
            <%= link_to 'Revoke', revoke_user_share_path(share),
            method: :post, class: 'btn btn-danger',
            data: { confirm: 'Are you sure?' }%>
          </span>
        </div>
        <ul class="list-unstyled">
          <% share.audits.each do |audit| %>
            <li>Viewed on <%= audit.created_at.in_time_zone('Pacific/Auckland').to_s(:short) %> by <%= audit.user.email %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
