<%= content_for :subhead do %>
  <%= render partial: "organisation_member/shared/subhead" %>
<% end %>
<h1>Shared document</h1>
<p class="lead"><%= @share.user.email %> has shared this with you.</p>
<p>
  <strong>Birth record:</strong>
  <%= render partial: 'shared/birth_records/short_details', object: @official_birth_record %>
</p>

<p>
  <strong>Shared by:</strong>
  <%= @share.user.email %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @share.recipient.name %>
</p>

<%= link_to 'Back', organisation_member_shares_path %>
