<%= bootstrap_form_with(url: organisation_member_requests_path(@organisation), local: true) do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :document_type %>
  <%= f.text_field :note %>
  <%= f.text_field :requestee_email, required: true %>

  <%= f.submit %>
<% end %>
