<div class="card">
  <div class="card-header">
    <h3>Request for <%= t("documents.document_type.#{request.document_type}") %></h3>
  </div>
  <div class="card-body">
    <strong>From <%= request.requester.name %>:</strong>
    <blockquote class="blockquote ">
      <%= request.note %>
    </blockquote>
    <hr>
  </div>
  <div class="card-footer">
    <%= form_with(url: cancel_organisation_member_request_path(@organisation, request), method: "post", local: true) do %>
      <%= submit_tag("Cancel", class: 'btn btn-danger') %>
    <% end %>
  </div>
</div>
