<div class="card card--with-fancy-footer card--request">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h4 class="card-title"><%= t("documents.types.#{request.document_type}") %></h4>
      <div>
        <span class="badge badge--<%= request.state %>"><%= request.state %></span>
      </div>
    </div>
    <p>Requested from <%= request.requestee.email %></p>
  </div>
  <div class="card-footer">
    <div class="card-footer__inner">
      <%= link_to "View", organisation_member_request_path(@organisation, request), class: "btn btn-secondary" %>
      <% if request.can_cancel? %>
        <%= form_with(url: cancel_organisation_member_request_path(@organisation, request), method: "post", local: true) do %>
          <%= submit_tag("Cancel", class: 'btn btn-danger') %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
