<h1>Shared document</h1>
<p class="lead"><%= @share.user.email %> has shared this with you.</p>
<p>
  <strong>Birth record:</strong>
  <%= render partial: 'shared/birth_records/short_details', object: @official_birth_record %>
</p>

<p>
  <strong>Shared by:</strong>
  <%= @share.user.email %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @share.recipient.email %>
</p>

<%= link_to 'Back', user_shares_path %>
