<header>
  <%= link_to root_path do %>
    <%= image_tag "feijoa_icon.png"%>
  <% end %>

  <ul> 
    <% if current_user.present? %>
      <li>
        <%= link_to(destroy_user_session_path, method: :delete)  do %>
          <span>Log out User</span>
        <% end %>
      </li>
    <% end %>
    <% if current_admin.present? %>
      <li >
        <%= link_to(destroy_admin_session_path, method: :delete)  do %>
          <span>Log out Admin</span>
        <% end %>
      </li>
    <% end %>
    <% unless signed_in? %>
      <li>
        <%= link_to(new_user_session_path) do %>
          <span>Log in User</span>
        <% end %>
      </li>
      <li>
        <%= link_to(new_admin_session_path) do %>
          <span>Log in Admin</span>
        <% end %>
      </li>
      <li>
        <%= link_to(new_user_registration_path) do %>
          <span>Sign up User</span>
        <% end %>
      </li>
      <li>
        <%= link_to(new_admin_registration_path) do %>
          <span>Sign up Admin</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</header>