<header class="navbar navbar-expand navbar-dark bg-dark flex-row">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand d-flex align-items-center' do %>
      <%= image_tag "feijoa_icon.png", class: 'rounded', height: 40, width: 40, alt: 'Feijoa home' %>
      <span class="text-white font-weight-bold ml-2">Feijoa</span>
    <% end %>
    <ul class="navbar-nav">
      <% if current_admin_user.present? %>
        <li class="nav-item">
          <%= link_to 'Home', authenticated_admin_user_root_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Data', admin_root_path %>
        </li>
      <% end %>
      <% if current_user&.organisations.present? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Your organisations
            </a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <% current_user&.organisations.each do |organisation| %>
                <%= link_to organisation.name, organisation_member_dashboard_path(organisation), class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your personal data
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <%= link_to 'My Documents', user_birth_records_path, class: 'dropdown-item' %>
            <%= link_to 'My Shares', user_shares_path, class: 'dropdown-item' %>
            <%= link_to 'Requests', user_requests_path, class: 'dropdown-item' %>
            <%= link_to 'History', user_audits_path, class: 'dropdown-item' %>
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      <% elsif signed_in? %>
        <li class="nav-item">
          <%= link_to 'My Documents', user_birth_records_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to user_requests_path, class: 'nav-link' do %>
            Requests
            <% if current_user&.requests&.unresolved.present? %>
              <span class="badge badge-secondary"><%= current_user.requests.unresolved.count %></span>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'History', user_audits_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if signed_in? %>
        <li class="nav-item mr-auto">
          <% if current_admin_user.present? %>
            <%= render partial: 'shared/logout', locals: { _logout_path: destroy_admin_user_session_path } %>
          <% end %>
          <% if current_user&.present? %>
            <%= render partial: 'shared/logout', locals: { _logout_path: destroy_user_session_path } %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
