<header class="navbar navbar-expand navbar-light bg-light flex-row">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag "feijoa_icon.png", class: 'rounded', height: 40, width: 40, alt: 'Feijoa home' %>
    Feijoa
  <% end %>
  <div class="navbar-nav ml-auto">
    <%= render 'user/nav' if show_login_ui_for?(User) %>
    <%= render 'organisation_user/nav' if show_login_ui_for?(OrganisationUser) %>
    <%= render 'admin_user/nav' if show_login_ui_for?(AdminUser) %>
  </div>
</header>
