<div class="card">
  <div class="card-header">
    Request from <%= request.requester.name %> for <%= request.document_type %>
  </div>
  <div class="card-body">
    <blockquote>
      <%= request.note %>
    </blockquote>
  </div>
  <div class="card-footer">
    <%= form_with(url: decline_user_request_path(request), method: "post") do %>
      <%= submit_tag("Decline request", class: 'btn btn-danger') %>
    <% end %>
  </div>
</div>
