<div class="modal fade" id="modalRequestResponseForm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100">Respond to request</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <section class="request-details">
          <%= request.requester.name %> has requested a <%= t("document.types.#{request.document_type}") %> from you.
          <blockquote class="blockquote"><%= request.note %></blockquote>
        </section>
        <section>
          <% if current_user.documents(type: request.document_type).any? %>
            <h2>Select a document to share</h2>
            <% current_user.documents(type: request.document_type).each do |document| %>
              <div class="mb-2">
                <%= render partial: 'shared/documents/preview', locals: { document: document, actions: [
                  render(partial: 'user/requests/share_button', locals: { document: document, request: request })
                ] } %>
              </div>
            <% end %>
            <hr>
          <% end %>
          <%= link_to "Find #{t("documents.types.#{request.document_type}").downcase}", user_birth_records_path, class: 'btn btn-secondary' %>
        </section>
      </div>
    </div>
  </div>
</div>
