<%= render partial: 'shared/back', locals: { path: user_requests_path } %>

<div class="card mb-4 p-4 birth-record" data-id="<%= @birth_record.to_param %>">
  <div class="card-body">
    <div class="d-flex flex-wrap justify-content-between mb-4">
      <h3 class="card-title">
        Request to share with <%= @request.requester.name %>
        <span class="badge badge--<%= @request.state %>"><%= @request.state %></span>
      </h3>
      <% if @request.can_decline? %>
        <div>
          <%= form_with(url: decline_user_request_path(@request), method: "post", local: true) do %>
            <%= submit_tag("Decline", class: 'btn btn-danger', data: { confirm: 'Are you sure you want to decline this request?' }) %>
          <% end %>
        </div>
      <% end %>
      <% if @request.can_respond? %>
        <div>
          <a href="#" id="add-record" data-toggle="modal" data-target="#modalBirthRecordForm" class="btn btn-primary">
            Respond
          </a>
          <%= render partial: 'user/requests/response_modal', locals: { request: @request } %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <dt>Requester</dt>
        <dd>
          <%= @request.requester.name %>
        </dd>
        <dt>Requestee</dt>
        <dd>
          <%= @request.requestee.email %>
        </dd>
        <dt>Note</dt>
        <dd>
          <%= @request.note %>
        </dd>
        <dt>Document type</dt>
        <dd>
          <%= t("documents.types.#{@request.document_type}") %>
        </dd>
        <dt>Initiated</dt>
        <dd><%= time_ago_in_words(@request.created_at) %> ago</dd>
        <dt>Updated</dt>
        <dd><%= time_ago_in_words(@request.updated_at) %> ago</dd>
      </div>
      <div class="col-sm-6">
        <% if @request.share.present? %>
          <dt>Shared document</dt>
          <%= render partial: 'shared/documents/preview', locals: { document: @request.share.document , actions: [
            link_to('View', user_birth_record_path(@request.share.document), class: 'btn btn-secondary')
          ]} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
