<div class="mb-4">
  <%= link_to "â† Back", user_requests_path, class: 'text-dark' %>
</div>

<h1>Request for a document to be shared with <%= @request.requester.name %></h1>

<dt>Requester</dt>
<dd>
  <%= @request.requester.name %>
</dd>
<dt>Requestee</dt>
<dd>
  <%= @request.requestee.email %>
</dd>
<dt>Note</dt>
<dd>
  <%= @request.note %>
</dd>
<dt>State</dt>
<dd>
  <%= @request.state %>
</dd>
<dt>Document type</dt>
<dd>
  <%= t("documents.types.#{@request.document_type}") %>
</dd>
<% if @request.share.present? %>
  <dd>Shared document</dd>
  <%= render partial: 'shared/documents/preview', locals: { document: @request.share.birth_record , actions: [
    link: user_birth_record_path(@request.share.birth_record),
    button_class: 'secondary',
    title: 'View'
  ]} %>
<% end %>
<% if @request.can_decline? %>
  <%= form_with(url: decline_user_request_path(@request), method: "post", local: true) do %>
    <%= submit_tag("Decline", class: 'btn btn-danger') %>
  <% end %>
<% end %>
<% if @request.can_respond? %>
  <a href="#" id="add-record" data-toggle="modal" data-target="#modalBirthRecordForm" class="btn btn-primary">
    Respond
  </a>
  <%= render partial: 'user/requests/response_modal', locals: { request: @request } %>
<% end %>
</div>
