<div class="record__birth-record--additional-details">
  <dl>
    <dd class="attribute-label">Place of birth</dd>
    <dt id="place_of_birth"><%=additional_details.place_of_birth %></dt>
  </dl>
  <dl>
    <dd class="attribute-label">Sex</dd>
    <dt id="sex"><%=additional_details.sex %></dt>
  </dl>
  <dl>
    <dd class="attribute-label">Parent 1</dd>
    <dt id="parent_family_name">
      <%=additional_details.parent_family_name %>,
      <%=additional_details.parent_first_and_middle_names %>
    </dt>
  </dl>
  <dl>
    <dd class="attribute-label">Parent 2</dd>
    <dt id="other_parent_family_name">
      <%=additional_details.other_parent_family_name %>,
      <%=additional_details.other_parent_first_and_middle_names %>
    </dt>
  </dl>
</div>