<div class="card" id="<%= "#{card.model_name.param_key}--#{card.primary_key_string}" %>">
  <div class="card-body">
    <h5 class="card-title">
      <%= link_to user_birth_record_path(card) do %>
        <%= card.short_name %>
      <% end %>
    </h5>
    <%= render partial: 'shared/birth_records/short_details', object: card %>
    <div class="navbar navbar-expand flex-row mr-auto">
      <%= link_to 'share', new_user_share_path(share: { birth_record_id: card.to_param }), class: 'nav-link' %>
      <%= link_to 'remove', remove_user_birth_record_path(card), class: 'nav-link', method: :post %>
    </div>
  </div>
</div>