<div class="record__birth-record--short-details">
  <dl>
    <dd class="attribute-label">place_of_birth</dd>
    <dt id="place_of_birth"><%=short_details.place_of_birth %></dt>
  </dl>
  <dl>
    <dd class="attribute-label">sex</dd>
    <dt id="sex"><%=short_details.sex %></dt>
  <dl>
    <dd class="attribute-label">Parent 1</dd>
    <dt id="parent_family_name">
      <%=short_details.parent_family_name %>,
      <%=short_details.parent_first_and_middle_names %>
    </dt>
  </dl>
  <dl>
    <dd class="attribute-label">Parent 2</dd>
    <dt id="other_parent_family_name">
      <%=short_details.other_parent_family_name %>,
      <%=short_details.other_parent_first_and_middle_names %>
    </dt>
  </dl>
</div>