<h2>Organisation log in</h2>

<div class="d-row">
  <div class="col-lg-6">
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

      <%= f.password_field :password, autocomplete: "current-password" %>

      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
      <% end %>

      <div class="actions mt-4">
        <%= f.submit "Log in", class: "btn btn-primary"  %>
      </div>
    <% end %>

    <%= render "organisation_user/shared/links" %>
  </div>
</div>