<div class="card audit" data-id="<%= audit.id %>">
  <div class="card-body">
    <h5 class="card-title">
      <% if audit.action == 'create'%>
        <strong>audit</strong> birth record of <strong><%= audit.associated.full_name %></strong> with <strong><%= audit.auditable.recipient.email %></strong>
      <% else %>
        <strong>Revoke</strong>sharing of birth record of <strong><%= audit.associated.full_name %></strong> with <strong><%= audit.auditable.recipient.email %></strong>
      <% end%>
    </h5>
    <div>Created at: <%= audit.created_at %></div>
    <div>Action by: <%= audit.user&.email %></div>
    <div>Action type: <%= audit.auditable_type %></div>
    <div>Action: <%= audit.action %></div>
    <div>Comment: <%= audit.comment %></div>
  </div>
</div>
