<div class="card audit" data-id="<%= share.id %>">
  <div class="card-body">
    <h5 class="card-title">
      <% if share.action == 'create'%>
        <strong>Share</strong> birth record of <strong><%= share.associated.full_name %></strong> with <strong><%= share.auditable.recipient.email %></strong>
      <% else %>
        <strong>Revoke</strong>sharing of birth record of <strong><%= share.associated.full_name %></strong> with <strong><%= share.auditable.recipient.email %></strong>
      <% end%>
    </h5>
    <div>Created at: <%= share.created_at %></div>
    <div>Action by: <%= share.user&.email %></div>
    <div>Action type: <%= share.auditable_type %></div>
    <div>Action: <%= share.action %></div>
    <div>Comment: <%= share.comment %></div>
  </div>
</div>