<% # Normalise auto-assigned variable %>
<% audit ||= share %>
<% document = audit.auditable.document %>

<tr>
  <td>
    <% if audit.comment == BirthRecord.share_audit_comment || audit.comment == ImmunisationRecord.share_audit_comment %>
      <strong>Share</strong> <%= t('documents.types.' + document.document_type).downcase %> of <%= document.heading %>
      <div class="text-muted">
        with <strong><%= audit.auditable.recipient.name %></strong>
      </div>
    <% elsif audit.comment == Audit::REVOKE_SHARE %>
      <strong>Revoke access to</strong> <%= t('documents.types.' + document.document_type).downcase %> of <%= document.heading %>
      <div class="text-muted">
        from <strong><%= audit.auditable.recipient.name %></strong>
      </div>
    <% elsif audit.comment == BirthRecord.view_audit_comment || ImmunisationRecord.view_audit_comment %>
      <strong>View</strong> <%= t('documents.types.' + document.document_type).downcase %> of <%= audit.auditable.document.full_name %>
      <div class="text-muted">
        by <strong><%= audit.auditable.recipient.name %></strong>
      </div>
    <% end %>
  </td>
  <td><%= audit.user&.email %></td>
  <td><%= i18n.l(audit.created_at) %></td>
  <td><%= audit.action %></td>
  <td><%= audit.comment %></td>
</tr>
