<% # Normalise auto-assigned variable %>
<% audit ||= user_document %>

<tr>
  <td>
    <% if audit.action == 'create' %>
      <strong>Add</strong> <%= t('documents.types.' + audit.auditable.document.document_type).downcase %> of <%= audit.auditable.document.heading %>< to your documents
    <% else %>
      <strong>Remove</strong> <%= t('documents.types.' + audit.auditable.document.document_type).downcase %> of <%= audit.auditable.document.heading %>
      <div class="text-muted">
        from your documents
      </div>
    <% end %>
  </td>
  <td><%= audit.user&.email %></td>
  <td><%= I18n.l audit.created_at %></td>
  <td><%= audit.action %></td>
  <td><%= audit.comment %></td>
</tr>
