<%= bootstrap_form_tag(url: user_shares_path, layout: :horizontal, scope: 'share', local: true,) do |f| %>
<h5>Type name of organisation</h5>
  <div>
    Sharing birth record of <%= record.full_name %>
  </div>
  <%= f.hidden_field :birth_record_id, value: record.id %>
  <%= f.hidden_field :recipient_id, id: 'recipient_id', value: nil %>
  <div >
    <%= f.text_field :organisation, id: "query", label_as_placeholder: true, label: 'Organisation' %>
  </div>
  <p>
    <div class="col-12" id="org-name">  </div>
    <div class="col-12" id="org-email">  </div>
    <div class="col-12" id="org-address">  </div>
  </p>
  <div>
    <%= f.submit :share %>
  </div>
<% end %>
