<%= bootstrap_form_with(url: user_shares_path, layout: :horizontal, scope: 'share', local: true,) do |f| %>
<h5 class="font-weight-bold mb-4">Feijoa-registered recipient</h5>
  <%= f.hidden_field :document_id, value: record.id %>
  <%= f.hidden_field :recipient_id, id: 'recipient_id', value: nil %>
  <div >
    <%= f.text_field :organisation, id: "org-query", label_as_placeholder: true, label: 'Organisation' %>
  </div>
  <hr />
  <%# <h5 class="font-weight-bold mt-4 mb-4">or email</h5> 
  <hr />%>
  <h5 class="font-weight-bold mt-4 mb-4">Custom Message</h5>
  <p>Hi there, I now give you access to my birth registration details.</p>
  <hr />
  <p>
    <div class="col-12" id="org-name">  </div>
    <div class="col-12" id="org-email">  </div>
    <div class="col-12" id="org-address">  </div>
  </p>
  <div>
    <%= f.submit 'Share', id: 'share-button' %>
  </div>
<% end %>
