<%= bootstrap_form_with(model: share, scope: 'share', local: true) do |f| %>
  <% if share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(share.errors.count, "error") %> prohibited this share from being saved:</h2>

      <ul>
      <% share.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Sharing birth record of <%= share.birth_record.full_name %>
  </div>
  
  <div>
    <%= f.collection_select(
      :recipient_id, 
      organisations,
      :id,
      :email)
    %>
  </div>

  <%= f.hidden_field :birth_record_id, value: share.birth_record.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
