<%= bootstrap_form_with(model: share, scope: 'share', local: true) do |f| %>
  <% if share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(share.errors.count, "error") %> prohibited this share from being saved:</h2>

      <ul>
      <% share.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.select(
    :birth_record_id, 
    current_user.birth_records.map{ |r| [r.short_name, r.id] },
    selected: share.birth_record_id) 
  %>

  <%= f.select(
    :recipient_id, 
    organisations.map{|o| [o.email, o.id]})
  %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
