<%= bootstrap_form_with(model: share, scope: 'share', local: true) do |f| %>
  <% if share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(share.errors.count, "error") %> prohibited this share from being saved:</h2>

      <ul>
      <% share.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_select(
    :birth_record_id, 
    current_user.birth_records,
    :id,
    :short_name,
    selected: share.birth_record_id) 
  %>

  <%= f.collection_select(
    :recipient_id, 
    organisations,
    :id,
    :email)
  %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
