<p id="notice"><%= notice %></p>

<h1>Shares</h1>

<table>
  <thead>
    <tr>
      <th>Birth record</th>
      <th>User</th>
      <th>Recipient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shares.each do |share| %>
      <tr>
        <td><%= share.birth_record.short_name %></td>
        <td><%= share.user.email %></td>
        <td><%= share.recipient.email %></td>
        <td><%= link_to 'Show', share %></td>
        <td><%= link_to 'Edit', edit_user_share_path(share) %></td>
        <td><%= link_to 'Destroy', share, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Share', new_user_share_path %>
