<h1>Shared document</h1>
<p class="lead">You have shared this with <%= @share.recipient.name %>.</p>
<p>
  <strong>Birth record:</strong>
  <%= render partial: 'shared/birth_records/short_details', object: @share.document %>
</p>

<p>
  <strong>User:</strong>
  <%= @share.user.email %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @share.recipient.name %>
</p>

<%= link_to 'Back', user_shares_path %>
