<%= render partial: 'shared/back', locals: { path: user_shares_path } %>

<h1>Shared document</h1>
<p class="lead">You have shared this with <%= @share.recipient.name %>.</p>

<p>
  <strong>User:</strong>
  <%= @share.user.email %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @share.recipient.name %>
</p>
<div class="card">
  <div class="card-header">
    <h5>Document details</h3>
    </div>
  <div class="card-body">
    <%= render @share.document %>
  </div>
</div>
