<p>
  <strong>Birth record:</strong>
  <%= render partial: 'shared/birth_records/short_details', object: @share.birth_record %>
</p>

<p>
  <strong>User:</strong>
  <%= @share.user.email %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @share.recipient.email %>
</p>

<p>
  <strong>Revoked by:</strong>
  <%= @share.revoker&.email %>
</p>

<p>
  <strong>Revoked at:</strong>
  <%= @share.revoked_at %>
</p>

<div class="navbar navbar-expand flex-row">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to 'Back', user_shares_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= render partial: 'revoke_button', locals: {share: @share} %>
    </li>
  </ul>
</div>
